<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/css/style.css" th:href="@{/css/style.css}"/>

    <title>Cylus - Neues Konto anlegen</title>
</head>
<body dir="ltr">
<div class="content">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <h2>Neues Konto anlegen</h2>

            <form method="post" action="/konto/neu" role="form">
                <div class="form-group">
                    <label for="kontoNummer">Kontonummer*</label>
                    <input name="kontoNummer" id="kontoNummer" type="number" size="4" maxlength="4" tabindex="1"
                           class="form-control" placeholder="Kontonummer"/>
                </div>

                <div class="form-group">
                    <label for="kontoName">Kontoname*</label>
                    <input name="kontoName" id="kontoName" type="text" size="30" maxlength="50" tabindex="2"
                           class="form-control" placeholder="Kontoname"/>
                </div>

                <div class="form-group">
                    <label for="kontoArt">Kontoart*</label>
                    <select name="kontoArt" id="kontoArt" tabindex="3" class="form-control">
                        <option th:each="kontenArt:${kontenArten}" th:value="${kontenArt.name}"
                                th:text="${kontenArt.name}">
                            Aufwand
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" tabindex="4" class="btn btn-primary">Konto anlegen</button>
                    <a href="/kontenplan" class="btn btn-default pull-right">Abbrechen</a>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>