<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kontenplan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../../../../target/classes/static/css/style.css"/>
</head>
<body>
<nav th:include="navigation::navigation" th:remove="tag">

</nav>
<div>
    <h1 id="title">Kontenplan</h1>
    <table>
        <thead>
            <tr>
                <th>Kontonummer</th>
                <th>Kontoname</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="konto: ${kontenplan.alleKonten}" class="konto">
                <td th:text="${konto.nummer}" class="kontoNummer">1234</td>
                <td th:text="${konto.name}" class="kontoName">Vergn&uuml;gen</td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>