<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cylus - Kontenplan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../../../../target/classes/static/css/style.css"/>
</head>
<body>
<nav th:replace="seiten-layout::navigation"></nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1 id="title">Kontenplan</h1>
            <a id="neuesKontoAnlegen"  th:href="@{/konto/neu}" href="/konto/neu"
               class="btn-add pull-right">
                <span aria-hidden="true"></span> Neues Konto
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Kontonummer</th>
                    <th>Kontoname</th>
                    <th><span class="sr-only">Aktionen</span></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="konto: ${kontenplan.alleKonten}" class="konto">
                    <td th:text="${konto.nummer}" class="kontoNummer">1234</td>
                    <td th:text="${konto.name}" class="kontoName">Vergn&uuml;gen</td>
                    <td>
                        <a th:href="@{|/konto/umbenennen/${konto.nummer}|}" href="/konto/umbenennen/42"
                           class="btn-rename">
                            <span></span><span class="sr-only">Konto umbenennen</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:include="seiten-layout::footer"></div>

</body>
</html>